@model UserViewModel

<div class="form-group">
    <label asp-for="FirstName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="LastName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Account" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Account" class="form-control" />
        <span asp-validation-for="Account" class="text-danger"></span>
    </div>
</div>